*
!.gitignore
!psalm.baseline.xml
!phpstan-diff.php
!phpstan-rules.php
!check-hardening-tests.php
!UnserializeMissingAllowedClassesRule.php
!HardenedComparisonRule.php
!UnserializeToStringTrampolineRule.php
!stubs
!stubs/*
